:root {
  --green: #10aea3;
  --navy-blue: #003e65;
  --baby-blue: #ffcb20;
  --yellow: #c3e4ed;
  --white: #fff;
}



.heading {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: min-content;
  justify-content: center;
  align-items: center;
  left: 10%;
  top: 5%;
  /* border: 2px solid black; */

}

.heading-title {
  position: relative;
  font-size: 36px;
  cursor: default;
}

.heading-text {
  position: relative;
  font-size: 20px;
  cursor: default;
  margin-top: 2.5%;
  text-align: center;
  /* border: 2px solid black; */
}

.chatbot {
  position: relative;
  width: 80%;
  height: 65%;
  margin-top: 10%;
  margin-bottom: 5%;
  left: 10%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid black;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.chatbot-header {
  width: 100%;
  height: 50px;
  background-color: var(--navy-blue);
  /* border: 2px solid blue; */
}

.chatbot-header-title {
  position: relative;
  color: var(--white);
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-content: center;
}

.chatbot-messages {
  position: relative;
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  /* border: 2px solid blue; */
}

.chatbot-input {
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.chatbot-input-text {
  position: relative;
  width: 85%;
  border: none;
  font-size: 15px;
  text-indent: 1%;
  border-top: 2px solid var(--navy-blue);
}

.chatbot-input-button {
  position: relative;
  background-color: var(--navy-blue);
  color: var(--white);
  width: 15%;
  border-radius: 0px;
  font-size: 25px;
}

.chatbot-input-button:hover {
  background-color: var(--green);
}

.chatbot-message {
  position: relative;
  background-color: var(--yellow);
  min-width: 20%;
  max-width: 78%;
  left: 4%;
  top: 4%;
  padding: 1%;
  border-radius: 8px;
  font-size: 18px;
  margin-bottom: 5%;
}

.chatbot-message-time {
  position: relative;
  margin-top: 2%;
  font-size: 15px;
}

.chatbot-message-right {
  position: relative;
  align-self: flex-end;
  left: -4%;
  background-color: var(--green);
}

.chatbot-messages::-webkit-scrollbar {
  width: 12px;
}

.chatbot-messages::-webkit-scrollbar-track {
  background: var(--white);
}

.chatbot-messages::-webkit-scrollbar-thumb {
  background-color: var(--navy-blue);
  border-radius: 10px;
  border: 3px solid var(--white);
}